<!-- LAPTOP VERSION -->
<div class="hide-on-small" style="height: 480px; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1484373030460-8de45ac8796d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
  <div class="container d-flex align-items-center" style="height: 480px">
    <div class="pl-5">
      <h1 style="color: white; font-family: Garamond; font-size: ; letter-spacing: 1px; text-align: left">Go Around</h1>
      <p style="color: white;  font-size:20px ; letter-spacing: 1px; text-align: left">There’s a lot to discover.</p>
      <p style="color: white; font-size: 20px; letter-spacing: 1px; text-align: left">In the city. Or a short drive away.</p>
    </div>
  </div>
</div>
<!-- MOBILE VERSION -->
<div class="hide-on-large" style="height: 360px; background-size: cover; background-position: center; background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.1)), url(https://images.unsplash.com/photo-1484373030460-8de45ac8796d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80">
  <div class="text-center pt-3 hide-on-large">
    <%= link_to "BOOK NOW", "", class: "nav-link hide-on-mobile nav-white", style:"", class:"btn btn-transparent-bold-white" %>
  </div>
  <div class="container d-flex align-items-center justify-content-center" style="height: 240px">
    <div>
      <h2 style="color: white; font-family: Garamond; font-size: ; letter-spacing: 1px; text-align: left">Go Around</h2>
      <p style="color: white;  font-size:18px ; letter-spacing: 1px; text-align: left">There’s a lot to discover.</p>
      <p style="color: white; font-size: 18px; letter-spacing: 1px; text-align: left">In the city. Or a short drive away.</p>
    </div>
  </div>
</div>
<div class="container pt-3">
  <h2 class="text-center mb-5 mt-5">About Medan</h2>
  <div class="px-4 pb-4" style="width:">
    <p class="text-justify">The city of Medan in North Sumatra sees a large number of tourists as it is the entry and exit point for stunning neighboring attractions like Lake Toba and Bukit Lawang. Unfortunately however, many people stay overnight in Medan and leave as quickly as possible, thinking that this is just another big city in Indonesia. They couldn’t be more wrong however, and Medan sees a lot of domestic tourists who realize its charms and who also recognize that it has some of the best food in Indonesia.</p>
    <p class="text-justify">People flock here for the food scene, and whatever your tastes you won’t go hungry in the city. Most of Medan’s top attractions are focused around food and you can sign up for a food tour, or simply go it lone and explore the sights, smells, and tastes of the city by yourself. In addition to the restaurants, stalls, and food courts, Medan is known for its diversity, and this is reflected in the range of attractions that you can experience here including a strong Tamil influence, a large Chinese community, and the indigenous Batak people who also call Medan home.</p>
    <h3 class="mt-5">Tour Tjong A Fie Mansion</h3>
    <p>Called "a historical jewel in Medan", the 35-room, 2-storey Tjong A Fie Mansion was built in 1895 on an area of 8000 sq. meter. It is a registered historical landmark as well as a cultural heritage building and museum.</p>
    <p>The Mansion has Chinese, Malay and Art Deco influences in its architecture style. The structure was built observing feng-shui principles. The rooms are on four sides of the structures and surround a big open-air courtyard in the middle, signifying the "Well of Heaven". </p>
    <h3 class="mt-5">Mesjid Raya Al Mashun</h3>
    <p>Mesjid Raya Al Mashun, or simply Mesjid Raya as it is often referred to, is Medan’s main mosque and is known for being one of its prettiest. The mosque was built using imported building materials such as Italian marble and you can take a tour and check out all the exquisite details here.</p>
    <p>Some things to look out for include the pretty stained glass touches as well as the emerald green tiles, and the mosque is topped with dark elegant domes. Non-Muslims are welcome to tour the mosque outside of prayer hours, but make sure to dress respectfully.</p>
    <h3 class="mt-5">Istana Maimun</h3>
    <p>Istana Maimun is the name of the royal palace in Medan which belonged to the Sultanate of Deli.</p>
    <p>Nowadays parts of the palace are open to the public and have been turned into a museum. These include the throne room and there are a few displays that explain the history of the royal family and some collections of ancient clothing and other objects of interest.</p>
    <p>One of the big draws here is that for a small fee you can dress up in period garb and take pictures in the throne room, and you can also walk around the lush grounds that encircle the palace.</p>
    <h3 class="mt-5">Visit the Museum of North Sumatra</h3>
    <p>The Museum of North Sumatra is the best museum in the city and a must-visit if you want to know more about the history and culture of the province. At the museum you will find galleries that tell the story of the different periods of North Sumatran history and take you through the Hindu, Buddhist, and Muslim eras as well as the Dutch colonial period.</p>
    <p>There are also collections dedicated to ancient weaponry, textiles, farming equipments, and sculptures, and you will also find some amazing wooden coffins carved in the shapes of dragons. All in all, this is a treasure trove of history and a great introduction to Medan.</p>
    <h3 class="mt-5">Lake Toba</h3>
    <div class="hide-on-small my-4">
      <%= cl_image_tag "https://images.unsplash.com/photo-1523623169910-dad45c0fd21c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80", class: "rounded-top", style: "height:400px; object-position: center center; object-fit: cover; width: 100%"%>
    </div>
    <div class="hide-on-large my-4">
      <%= cl_image_tag "https://images.unsplash.com/photo-1523623169910-dad45c0fd21c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80", class: "rounded-top", style: "height:200px; object-position: center center; object-fit: cover; width: 100%"%>
    </div>
    <p>At 1200m above sea level, Taman Simalem Resort makes a popular getaway for the local Medan-ese as it offers a cool escape from the warm bustling city. That aside, it’s also one of the best places to experience the beauty of Lake Toba, also known as the largest volcanic lake in the world.</p>
  </div>
</div>