<div class="container my-5 py-5 px-5">
  <h3 style="color: #D8A727">These spaces are simple, intimate, yet homey for your stay
  </h3>
  <p class="mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum harum alias, perspiciatis laudantium suscipit! Iste fugit dolor dolore rerum accusamus. Debitis nostrum doloribus cupiditate dicta! In cum earum, tempora repellat!</p>
  <div class="mt-5 p-3" style="background-color: white; border-radius: 5px; box-shadow: 0 1px 2px rgba(0,0,0,0.2)">
    <h4 class="">In room amenities</h4>
    <ul>
      <div class="row">
        <div class="col-sm-12 col-md-4 col-lg-4">
          <li>Wi-Fi</li>
          <li>32” flat screen LED TV (Cable)</li>
          <li>Air-conditioning</li>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <li>Bluetooth Speaker with Alarm Clock</li>
          <li>Stationery</li>
          <li>Safe Deposit Box</li>
        </div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <li>Hair-dryer</li>
          <li>Bathroom Amenities</li>
          <li>Tea and Coffee</li>
        </div>
      </div>
    </ul>
  </div>
</div>
<div style="background-color: white">
  <div class="container py-5">
    <div class="row mt-5">
      <div class="col-sm-12 col-md-7 col-lg-7">
        <div style="width:; height: auto">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://images.unsplash.com/photo-1512918728675-ed5a9ecdebfd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1576675784201-0e142b423952?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-5 col-lg-5">
        <div class="p-4" style="width:">
          <h5 class="mb-3">Superior Double Room</h5>
          <p class="text-justify">Twin Bed / Deluxe Double Bed
            16 SM / 172 SF</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut atque fuga distinctio optio nobis explicabo, beatae totam autem quia provident. Expedita adipisci, commodi necessitatibus magnam? Culpa dolor earum quo inventore.</p>
          <%= link_to "Book now", rooms_path, class:"btn btn-transparent-bold" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hide-on-small" style="background-color: white">
  <div class="container pt-5">
    <div class="row">
      <div class="col-sm-12 col-md-5 col-lg-5">
        <div class="p-4" style="width:">
          <h5 class="mb-3">Deluxe Double Room</h5>
          <p class="text-justify">Twin Bed / Executive Double Bed 18 SM / 194 SF</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut atque fuga distinctio optio nobis explicabo, beatae totam autem quia provident. Expedita adipisci, commodi necessitatibus magnam? Culpa dolor earum quo inventore.</p>
          <%= link_to "Book now", rooms_path, class:"btn btn-transparent-bold" %>
        </div>
      </div>
      <div class="col-sm-12 col-md-7 col-lg-7">
        <div style="width:; height: auto">
          <div id="carouselExampleControls-1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://images.unsplash.com/photo-1512918728675-ed5a9ecdebfd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1576675784201-0e142b423952?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls-1" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls-1" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="hide-on-large" style="background-color: white">
  <div class="container pb-5">
    <div class="row pt-5">
      <div class="col-sm-12 col-md-7 col-lg-7">
        <div style="width:; height: auto">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="https://images.unsplash.com/photo-1512918728675-ed5a9ecdebfd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1576675784201-0e142b423952?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1504&q=80" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="https://images.unsplash.com/photo-1522771739844-6a9f6d5f14af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1502&q=80" class="d-block w-100" alt="...">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-5 col-lg-5">
        <div class="p-4" style="width:">
          <h5 class="mb-3">Deluxe Double Room</h5>
          <p class="text-justify">Twin Bed / Executive Double Bed 18 SM / 194 SF</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut atque fuga distinctio optio nobis explicabo, beatae totam autem quia provident. Expedita adipisci, commodi necessitatibus magnam? Culpa dolor earum quo inventore.</p>
          <%= link_to "Book now", rooms_path, class:"btn btn-transparent-bold" %>
        </div>
      </div>
    </div>
  </div>
</div>